name: RailOS Launcher
on: [push]
jobs:
  testing:
    runs-on: windows-latest
    name: RailOS Launcher Testing
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          architecture: 'x64'
      - uses: Gr1N/setup-poetry@v7
      - name: Fetch Discord SDK
        run: |
          choco install wget -y
          wget https://dl-game-sdk.discordapp.net/2.5.6/discord_game_sdk.zip
          unzip discord_game_sdk.zip -d discord_game_sdk
          mkdir lib
          cp discord_game_sdk/lib/x86_64/discord_game_sdk.dll lib/
          rm -rf discord_game_sdk*
        shell: bash

      - name: Get Previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: Build application
        run: |
          LC_ALL="UTF-8" LC_CTYPE="UTF-8" poetry install
          SITE_PACKAGES=$(poetry run python -c 'import sysconfig; print(sysconfig.get_paths()["purelib"])') \
          poetry run pyinstaller RailOSLauncher.spec
        shell: bash

      - name: Get RailOS
        run: |
          LATEST_RAILOS=$(curl https://github.com/AlbertBall/railway-dot-exe/releases/ | grep -oE "v[0-9]+\.[0-9]+\.[0-9]+" | sort -uV | tail -n 1)
          wget https://github.com/AlbertBall/railway-dot-exe/releases/download/$LATEST_RAILOS/Release.$LATEST_RAILOS.zip
          unzip Release-$LATEST_RAILOS.zip
          mkdir -p Release-$LATEST_RAILOS/Railway/DiscordLauncher
          mv lib Release-$LATEST_RAILOS/Railway/DiscordLauncher
          mv dist/RailOSLauncher.exe Release-$LATEST_RAILOS/Railway/DiscordLauncher
        shell: bash

      - name: Test application (10 seconds)
        run: |
          timeout 10 LATEST_RAILOS=$(curl https://github.com/AlbertBall/railway-dot-exe/releases/ | grep -oE "v[0-9]+\.[0-9]+\.[0-9]+" | sort -uV | tail -n 1) \
          ./Release-$LATEST_RAILOS/Railway/DiscordLauncher/RailOSLauncher.exe
        shell: bash
